<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

    <title>Login and Registration</title>
</head>
<body>       

    <center><h1>Welcome on our Homepage!</h1></center>
    <center><h1>Please Login or Register</h1></center>

    {% with messages = get_flashed_messages(category_filter = firstname) %}
        {% if messages %}
            {% for category in messages %}
                <p class="{{ category }}">{{ category }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <br>

    <center><h5>REGISTER:</h5></center>
    <form action="/register" method= "POST">
        <center><p>Firstname:<input type="text" name="firstname"></input></p></center>
        <center><p>Lastname:<input type="text" name="lastname"></input></p></center>
        <center><p>E-Mail:<input type="text" name="email"></input></p></center>
        <center><p>Password:<input type="password" name="password"></input></p></center>
        <center><p>Confirm Password:<input type="password" name="cf_password"></input></p></center>
        <center><p>Birthdate: <input type="date" name="birthdate"></p></center>

        <center><input type="submit" value="Submit"></center>

    </form>

    <br>

    <center><h5>LOGIN:</h5></center>
    <form action="/login" method= "POST">
        <center><p>E-Mail:<input type="text" name="email"></input></p></center>
        <center><p>Password:<input type="password" name="password"></input></p></center>
    
        <div id="submit">
            <center><input type="submit" value="Submit"></center>
        </div>
    </form>

</body>
</html>